@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Public+Sans:wght@300;400;800&display=swap');

body{
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
}

.container{
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotipo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logotipo:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.logotipo span{
    font-family: 'Public Sans', sans-serif;
    font-weight: 800;
    margin-left: 8px;
    line-height: 23.5px;
    font-size: 20px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000;
}

nav .texto-preto-menu:hover{
    background-color: #5BC241;
    border-radius: 3%;
    transform: scale(1.1);
    cursor: pointer;
    color: #fff;
}

nav .texto-preto-menu{
    padding: 10px;
}

.nav .texto-preto-menu:hover{
    font-weight: 300;
}

nav .texto-detalhado-menu{
    padding: 15px;
    color: #fff;
    background-color: #5BC241;
    border-radius: 10px;
    width: 127px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
}
nav .texto-detalhado-menu:hover{
    background-color: #5BC241;
    cursor: pointer;
    scale: calc(1.07);
    transition: 1.1s ease-out;
}